html{background-color: #f9f4ed}
h1 {
  color: #014421;
  font-family: "eldwin-script", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
}
p {
font-family: museo, serif;
font-weight: 300;
font-style: normal;
font-size: 18px;
}
.home{
  border-radius: 15px;
  background: #CDB891;
  padding: 12px;
  height: 15px;
  position: absolute;
  top:10px;
  left:10px;
}
a{
  border-radius: 15px;
  background: #CDB891;
  padding: 12px;
  height: 15px;
}
